<form (ngSubmit)='submitUsername()' >
  <input type="text" name="username" class="form-control" placeholder="Enter your Username">
  <button class="btn btn-outline-success btn-sm">Fetch Github Data</button>
</form>
<!-- <div class="container">
  <div *ngIf='profile'>
      <div class="panel panel-default">
          <div class="panel-heading">
              {{profile.name}} has <small>{{profile.public_repos}} repositories</small>
          </div>
      </div>
  </div> -->
  <!-- <form action="">
      <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
      </div>
      <p>{{profile.login}}</p>
      <p>{{profile.avatar_url}}</p>
  </form> -->
<!-- </div> -->